#info {
	float: right;
	padding: 0 0 1rem 1rem;
	z-index: 1;
}
#info img {
	max-width: 200px;
}
#info ul {
	list-style-type: none;
	margin-top: 1rem;
}
@media (max-width: 640px) {
	#info {
		float: none;
		padding: 0;
	}
	#info img {
		max-width: unset;
		width: 100%;
	}
	section:not(:first-child) {
		margin-top: 1rem;
	}
}
main.responsive {
	max-width: 50rem;
}
#papers ol {
	list-style-type: none;
}
#papers li {
	margin: 1rem 0.25rem;
	padding: 0.1rem 1rem;
	background-color: var(--surface-variant);
}
#papers h6 {
	margin-top: 0.5rem;
}
#papers p.title {
	margin-top: 0;
}
