---
title: Scott Mueller's Homepage
layout: base.liquid
styles:
  - index.css
---
<section id="info">
	<img src="/images/profile.png"/>
	<ul id="contact">
		<li><em class="special">Scott</em> <em class="special">A</em>llen <em class="special">M</em>ueller</li>
		<li><a class="link" href="mailto:scott@cs.ucla.edu">scott@cs.ucla.edu</a></li>
		<li>PhD candidate</li>
		<li>Computer Science dept</li>
		<li><a class="link" href="https://www.ucla.edu/">UCLA</a></li>
	</ul>
	<ul id="social_media">
		<li><a class="link" href="https://scholar.google.com/citations?user=Aj-8swEAAAAJ">Google Scholar</a></li>
		<li><a class="link" href="https://x.com/smueller">X/Twitter</a></li>
		<li><a class="link" href="https://www.linkedin.com/in/scottamueller">LinkedIn</a></li>
		<li><a class="link" href="https://github.com/samueller">GitHub</a></li>
	</ul>
</section>
<section id="about"><h6>Rest of page coming soon</h6></section>
<section id="publications"></section>
<section id="teaching"></section>
<section id="cv"></section>
