---
title: Scott Mueller's Personal Homepage
layout: base.liquid
---
<p>I am <em class="special">Scott</em> <em class="special">A</em>llen <em class="special">M</em>ueller</p>
<p>Rest of page coming soon</p>
